{% extends 'base.html.twig' %}

{% block title %}Modifier un sondage{% endblock %}

{% block body %}

<h1>Modifier un sondage</h1>

{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.beginAt) }}
    {{ form_row(form.endAt) }}

    {% if is_granted("ROLE_ADMIN") %}
        {{ form_row(form.user) }}
    {% endif %}

    {{ form_row(form.choices) }}

{{ form_end(form) }}

{% endblock %}