{% extends 'base.html.twig' %}

{% block title %}Liste des sondages{% endblock %}

{% block body %}

<h1>Liste des sondages</h1>

{% for poll in polls %}
    <div>
        <h3>{{ poll.title }}</h3>
        <p>{{ poll.description }}</p>
        <div>Sondage débuté le {{ poll.beginAt | date("d/m/Y") }}</div>
        <div>S'achève le {{ poll.endAt | date("d/m/Y") }}</div>
        <div>Créé par {{ poll.user.username }}</div>

        {% set userVote = null %}

        {% for vote in poll.votes %}
            {% if vote.user.username == app.user.username %}
                {% set userVote = vote %}
            {% endif %}
        {% endfor %}

        {% if poll.beginAt | date("U") <= "now" | date("U") and poll.endAt | date("U") >= "now" | date("U") and userVote == null %}
            <div>Vous êtes plutôt pour :</div>
            <ul>
                {% for choice in poll.choices %}
                    <li>{{ choice.title }} <a href="{{ url('vote', {'pollID': poll.id, 'choiceID': choice.id}) }}">Choisir</a></li>
                {% endfor %}
            </ul>
        {% elseif poll.beginAt | date("U") <= "now" | date("U") and poll.endAt | date("U") >= "now" | date("U") and userVote != null %}
            <div>Vous avez voté pour {{ userVote.choice.title }}</div>
        {% elseif poll.beginAt | date("U") > "now" | date("U") or poll.endAt | date("U") < "now" | date("U") %}
            <div>Sondage terminé</div>
        {% endif %}

        {% if "ROLE_ADMIN" in app.user.roles %}
            <button id="{{ poll.id }}" class="buttons_delete">Supprimer ce sondage</button>
        {% endif %}
        <hr>
    </div>
{% endfor %}

<div id="modal" hidden>
    Confirmer la suppression de ce sondage (Action irréversible) ?
    <button id="delete_yes">Oui</button>
    <button id="delete_no">Non</button>
</div>

<script>
    const modal = document.getElementById("modal");
    const buttons = Array.from(document.getElementsByClassName("buttons_delete"));
    let idDelete;

    buttons.map((b) =>
    {
        b.addEventListener("click", (e) =>
        {
            modal.hidden = false;
            idDelete = b.id
        });
    });

    document.getElementById("delete_yes").addEventListener("click", () =>
    {
        window.location.href = "/poll/delete/" + idDelete;
    });

    document.getElementById("delete_no").addEventListener("click", () =>
    {
        modal.hidden = true;
    });
</script>

{% endblock %}
